@charset "UTF-8";

:root {
    --cor-fundo-manha: #D9A05B;
    --cor-fundo-tarde: #F28705;
    --cor-fundo-noite: #0D2626;
    --cor-quadro: white;
    --cor-link-manha: #401C08;
    --cor-link-tarde: #BF2604;
    --cor-link-noite: #F2865E;
    --cor-sombra: #0000004d;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor-fundo-manha);
    text-align: center;
}

h1, a {
    color: white;
    text-shadow: 0px 1px var(--cor-sombra);
    text-decoration: none;
}

section {
    background-color: var(--cor-quadro);
    margin: auto;
    padding: 20px;
    max-width: 600px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px var(--cor-sombra);
}

a:hover {
    text-decoration: underline;
}